# Video mentahan besar yang tidak dipakai di website
KELOMPOK_2 VIDEO PROFIL.mp4
CEO Kelompok 2.mp4

# Aset mentahan resolusi tinggi yang melebihi batas GitHub (100MB)
feed 3/ilayre/
BANNER ADA SPONSOR.png
